* {
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: $sans-serif-main;
	line-height: 1.375;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.screen-reader-text {
	@include visually-hide;
}