* {
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: $sans-serif-main;
}

img {
	display: block;
	max-width: 100%;
}