.blog {
	.site-content {
		display: flex;
		justify-content: space-between;

		#primary {
			width: 70%;
		}

		#secondary {
			width: 25%;
		}
	}

	.entry-image {
		img {
			width: 380px;
			height: 380px;
			max-width: 100%;
			object-fit: cover;
		}
	}

	.post {
    display: flex;
    justify-content: space-between;

    .entry-image {
    	width: 48%;
    }

    .entry-content {
    	width: 48%;
    }
	}
}