.blog {
	.site-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include mq(desktop, 'max-width') {
			flex-direction: column;
		}

		#primary {
			width: 67%;

			@include mq(desktop, 'max-width') {
				width: 100%;
			}
		}

		#secondary {
			width: 28%;

			@include mq(desktop, 'max-width') {
				width: 100%;
				margin-top: 4rem;
			}
		}
	}

	.entry-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.entry-image {
		img {
			width: 380px;
			height: 380px;
			max-width: 100%;
			object-fit: cover;
		}
	}

	.entry-title {
		margin-bottom: .4rem;

		a {
			color: $text-color-main;
			text-decoration: none;
			font-family: $sans-serif-heavy;
			font-weight: 700;

			@include hover-anim-1;
		}
	}

	.entry-meta {
		color: $text-color-light;
		font-size: .85rem;
		margin-bottom: .75rem;
		margin-top: .75rem;

		a {
      color: $text-color-light;			
		}

		&__author {
			color: $text-color-main;
			margin-bottom: .1rem;
		}

		&__date {
			color: $text-color-light;
		}
	}

	.entry-excerpt {
		line-height: 1.5;
		margin-bottom: 1em;
	}

	.entry-more-link {
		a {
			color: $text-color-main;
			text-decoration: underline;

			@include hover-anim-1;
		}
	}

	.post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .entry-image {
    	width: 48%;

    	@include mq(desktop, 'max-width') {
    		margin-right: 2rem;
    	}

    	&--mobile {
    		display: none;
    	}
    }

    .entry-content {
    	width: 48%;
    }

    @include mq(desktop, 'max-width') {
    	justify-content: flex-start;
    }

    @include mq(ipad, 'max-width') {
    	flex-direction: column;
    	justify-content: center;
    	text-align: center;
    	margin-bottom: 5rem;

    	.entry-image {
    		width: 100%;
    		display: none;

    		&--mobile {
	    		display: block;
	    	}

    		img {
    			width: 200px;
    			height: 200px;
    			margin: 20px auto 30px;
    		}
    	}

    	.entry-content {
    		width: 100%;
    	}
    }
	}

	.posts-navigation {
		max-width: $container-max-width;
		width: $container-width;
		margin: 1rem auto 0;
		position: absolute;
		text-align: right;
		display: flex;
		justify-content: flex-end;

		a {
			color: $text-color-light;
			transiton: all .15s ease;

			&:hover {
				opacity: .8;
			}
		}

		.nav-links {
			display: flex;
		}

		.nav-next, 
		.nav-previous {
			display: flex;
		}

		.nav-previous {
			order: 2;
			margin-left: .5rem;

			&:after {
				content: '\2192';
				position: relative;
				color: $text-color-light;
				margin-left: 5px;
			}
		}

		.nav-next {
			order: 1;

			&:before {
				content: '\2190';
				position: relative;
				color: $text-color-light;
				margin-right: 5px;
			}

			&:after {
				content: '|';
				position: relative;
				color: $text-color-light;
				margin-left: .5rem;
			}
		}
	}
}