.blog {
	.site-content {
		display: flex;
		justify-content: space-between;

		#primary {
			width: 70%;
		}

		#secondary {
			width: 25%;
		}
	}

	.entry-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.entry-image {
		img {
			width: 380px;
			height: 380px;
			max-width: 100%;
			object-fit: cover;
		}
	}

	.entry-title {
		margin-bottom: .4rem;

		a {
			color: $text-color-main;
			text-decoration: none;
			font-family: $sans-serif-heavy;
			font-weight: 700;
		}
	}

	.entry-meta {
		color: $text-color-light;
		font-size: .85rem;
		margin-bottom: .75em;

		a {
      color: $text-color-light;			
		}
	}

	.entry-excerpt {
		line-height: 1.5;
		margin-bottom: 1em;
	}

	.entry-more-link {
		a {
			color: $text-color-main;
			text-decoration: underline;
		}
	}

	.post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;

    .entry-image {
    	width: 48%;
    }

    .entry-content {
    	width: 48%;
    }
	}
}