.mobile-editors-pick-wrap {
	margin-bottom: 5rem;
}

.featured-block {
	text-align: center;
	background: $gray-light-1;
	font-size: 1rem;
	text-align: center;
	margin-top: 1rem;

	&__heading {
		padding: .75rem 1.25rem;
	}

	&__secondary-heading {
		a {
			text-decoration: none !important;
		}
	}

	h2 {
		text-transform: uppercase;
		font-family: $sans-serif-alt;
		font-size: 1.25rem;
		font-weight: 400;
		margin-bottom: 0;
	}

	&__image {
		img {
			width: 100%;
			height: 160px;
			object-fit: cover;
			object-position: center center;
		}
	}

	&__content {
		padding: 1.75rem 1.25rem;
	}

	h3 {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	p {
		width: 80%;
		margin: 0 auto 1rem;
	}

	a {
		cursor: pointer;
		color: $text-color-main;
		text-decoration: underline;

		@include hover-anim-1;
	}
}