.site-footer {
	margin-top: 1rem;
	padding: 3rem 0 2rem;
	background: black;
	color: white;
	font-size: .875rem;

	.blog & {
		margin-top: 4rem;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	a {
		color: white;
	}

	.container {
		display: flex;
		justify-content: space-between;

		@include mq(desktop-narrow, 'max-width') {
      flex-direction: column;
		}
	}

	&__subscribe-block {
		padding-bottom: 1.5rem;

		h3 {
			margin-bottom: 1.25rem;
		}

    .input-wrap {
    	display: flex;
    	justify-content: flex-start;
    	margin-bottom: 1.5rem;
    }

    input[type='email'] {
      border: 2px solid white;
      border-right: none;
      padding: 0 10px 0 15px;
      height: 34px;
      background: transparent;
      font-size: 12px;
      width: 250px;
      max-width: 50%;
      color: white;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: white;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: white;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: white;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: white;
			}
		}

		input[type='submit'] {
      border: none;
      background: white;
      height: 38px;
      font-size: 12px;
      color: black;
      cursor: pointer;
      font-weight: 700;
      width: 100px;
      transition: all .15s ease;

      &:hover {
      	opacity: .9;
      }
		}

		@include mq(desktop-narrow, 'max-width') {
			.input-wrap {
				justify-content: center;
			}
		}
	}

	&__subscribe-disclaimer {
		font-size: 11px;
		line-height: 17px;
		max-width: 220px;

		@include mq(desktop-narrow, 'max-width') {
 			max-width: none;
 		}
	}

	&__nav-menu {
		li {
			display: inline-block;
			list-style-type: none;
			margin-right: 3rem;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-size: .8rem;
			color: $text-color-light;
		}

		@include mq(desktop, 'max-width') {
      li {
      	margin-right: 2rem;
      }
		}

		@include mq(desktop-narrow, 'max-width') {
      li {
      	margin-right: 1.5rem;
      }
		}

		@include mq(tablet, 'max-width') {
			li {
      	margin-right: 1.15rem;
      }

			a {
      	font-size: .75rem;
      }
		}
 	}

 	&__left-block {
 		@include mq(desktop-narrow, 'max-width') {
 			text-align: center;
 		}
 	}

	&__right-block {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: flex-end;

		@include mq(desktop-narrow, 'max-width') {
			margin-top: 2.5rem;
			justify-content: center;
			text-align: center;
			align-items: normal;
		}
	}

	&__social-nav {
		ul {
		  display: flex;
		  justify-content: flex-end;
		  margin-bottom: 2rem;

		  @include mq(desktop-narrow, 'max-width') {
		  	margin-bottom: 1rem;
		  	text-align: center;
		  	justify-content: center;
		  }
		}

		li {
			display: inline-block;
			list-style-type: none;
			margin-left: 1rem;

			&:first-child {
				margin-left: 0;
			}
		}

		a {
			color: white;
			font-size: 1.5rem;

			@include hover-anim-1;
		}
	}

	&__copyright {
		font-size: .8rem;
		color: $text-color-light;
	}
}