.drip-form {
	&--sidebar {
		padding: 1.75rem 1.25rem;
		text-align: center;
		background: $gray-light-1;
		font-size: 1rem;
		display: flex;
		justify-content: center;
		flex-direction: column;

		h3 {
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		label {
			@include visually-hide;
		}

		input[type='email'] {
      border: 2px solid black;
      border-right: none;
      padding: 0 10px 0 15px;
      height: 34px;
      background: transparent;
      font-size: 13px;
      max-width: 140px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: black;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: black;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: black;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: black;
			}
		}

		input[type='submit'] {
      border: none;
      background: black;
      height: 34px;
      font-size: 13px;
      color: white;
      cursor: pointer;
      font-weight: 700;
      width: 100px;

      @include hover-anim-1;
		}

		.input-wrap {
			margin-top: 1.125rem;
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
		}
	}
}

.idea-form {	
	label,
	p,
	button,
	&__intro-text {
		font-family: $sans-serif-main !important;
		color: black !important;
	}

	&__intro-text {
		font-size: 18px;
		margin-bottom: 2.25rem;
		color: black !important;
	}

	label {
		font-family: $sans-serif-heavy !important;
		color: black !important;
	}

	&__intro-block {
		text-align: center;
		max-width: 460px;
		width: 100%;
		margin: 0 auto;
	}

	&__heading {
		font-family: $sans-serif-heavy !important;
		color: black !important;
		margin-bottom: 1.5rem !important;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		min-height: 44px;
		border: 1px solid black !important;
		border-radius: 0 !important;
		font-family: $sans-serif-main !important;
	}

	.frm_submit {
		text-align: center;
	}

	button.frm_button_submit {
		background: $secondary-color !important;
		border-radius: 0 !important;
		color: rgba(255, 255, 255, 1) !important;
		border: none !important;
		padding: .95em 3.25em .8em !important;
		font-size: 14px !important;
		font-weight: 700 !important;
		font-family: $sans-serif-heavy !important;
		transition: all ease .15s;

		&:hover {
			opacity: .9;
		}
	}	
}

.mobile-form-wrap {
  display: none;

  @include mq(ipad, 'max-width') {
  	display: block;
  	margin-bottom: 4em;
  }	
}