.drip-form {
	&--sidebar {
		padding: 1.75rem 1.25rem;
		text-align: center;
		background: $gray-light-1;
		font-size: 1rem;

		h3 {
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		label {
			@include visually-hide;
		}

		input[type='email'] {
      border: 2px solid black;
      border-right: none;
      padding: 0 10px 0 15px;
      height: 34px;
      background: transparent;
      font-size: 13px;
      max-width: 125px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: black;
			}

			&::-moz-placeholder { /* Firefox 19+ */
			  color: black;
			}

			&:-ms-input-placeholder { /* IE 10+ */
			  color: black;
			}

			&:-moz-placeholder { /* Firefox 18- */
			  color: black;
			}
		}

		input[type='submit'] {
      border: none;
      background: black;
      height: 38px;
      font-size: 13px;
      color: white;
      cursor: pointer;
      font-weight: 700;
      width: 100px;

      @include hover-anim-1;
		}

		.input-wrap {
			margin-top: 1.125rem;
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
		}
	}
}