.site-branding {
	position: relative;
	padding: 2.35rem 0;
	width: $container-width;
	max-width: $container-max-width;
	margin: 87px auto 0; // set top margin to header height
	background: url('../img/banner-header.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;

	@include mq(ipad, 'max-width') {
		margin: 72px auto 2.5rem; // set top margin to header height
	}

	@include mq(wp-bar-switch, 'max-width') {
    .logged-in & {
    	margin: 27px auto 2.5rem; // set top margin to header height
    }
	}

	h1 {
		font-size: 2.15rem;
		margin-bottom: 1rem;
	}

	a {
		color: white;
	}

	p {
		margin-bottom: 0;
	}

	.single & {
		margin-bottom: 2.5rem;
	}

	@include mq(ipad, 'max-width') {
    margin-bottom: 2.5rem;
	}
}

.site-description,
.site-title {
	padding: 0 1rem;
}

.custom-logo-link {
	img {
	  position: fixed;
	  left: 0;
	  right: 0;
	  top: 4px;
	  width: 128px;
	  height: auto;
	  margin: 0 auto;
	  z-index: 3000;
	  cursor: pointer;

	  @include mq(ipad, 'max-width') {
	  	width: 85px;
	  	top: 10px;
	  }

	  .admin-bar & {
			top: 35px;

			@include mq(wp-bar-switch, 'max-width') {
        top: 10px;
			}
	  }
	}
}

.menu-toggle {
	display: none;
	position: relative;
	z-index: 200;
	cursor: pointer;
	border: none;
	padding: 15px 0;
	background: transparent;
	padding-left: 5%;

	@include hover-anim-1;	

	&:focus {
		outline: none;
	}

	span {
		display: block;
		width: 24px;
		height: 1px;
		background: $text-color-main;
		margin-bottom: 5px;
	}  

	@include mq(ipad, 'max-width') {
    display: block;
	}
}

.main-navigation {
	margin: 0 auto;
	padding: 35px 0 30px;
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	background: white;
	z-index: 2000;
	height: 87px;

	.logged-in & {
		top: $wpadmin-bar-height;
	}

	@include mq(ipad, 'max-width') {
		padding: 15px 0;
	}

	@include mq(wp-bar-switch, 'max-width') {
		height: 72px;

		.admin-bar & {
			top: 0;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;

		@include mq(ipad, 'max-width') {
			display: none;
		}
	}

	&.toggled {
		ul {
     display: block;
    }
	}

	li {
		list-style-type: none;
		margin: 0 1.25em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:nth-child(3) {
			margin-right: auto;
		}

		&:nth-child(4) a {
      border: solid 1px $secondary-color;
      padding: 10px 17px 9px;
			color: black;

      @include mq(ipad, 'max-width') {
      	border: none;
      	padding: 0;
      }
    }

    @include mq(desktop, 'max-width') {
      margin: 0 .8em;
    }

    @include mq(ipad, 'max-width') {
    	margin: .65em 0;

    	&:last-child {
    		display: none;
    	}
    }
	}

	a {
		font-family: $sans-serif-main;
		text-transform: none;
		color: $text-color-mid-alt;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
		font-size: 13px;
		letter-spacing: 1.5px;

		@include hover-anim-1;
	}
}

.menu-header-navigation-container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	background: white;
	position: relative;
	z-index: 500;
	padding-bottom: 1rem;
}

.mobile-cart-link {
	display: none;
	position: absolute;
	right: 5%;
	top: 24px;

	a {
		border: solid 1px $secondary-color;
    padding: 9px 10px 8px;
    font-size: 12px;
    letter-spacing: 1px;
		color: black;

		@include hover-anim-1;
	}

  @include mq(ipad, 'max-width') {
    display: block
  }
}


#wpadminbar {
	@include mq(wp-bar-switch, 'max-width') {
		display: none;
	}
}