.site-branding {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	background: url('../img/banner-header.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 150px;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;

	h1 {
		font-size: 2.15rem;
		margin-bottom: .5rem;
	}

	p {
		margin-bottom: 0;
	}
}

.menu-toggle {
	display: none;
}

.main-navigation {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 1.5em 0;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;
		display: inline-block;
	}

	a {
		text-transform: uppercase;
		color: $text-color-light;
		font-weight: 300;
		font-size: .8rem;
	}
}
