.site-branding {
	position: relative;
	padding: 2.35rem 0;
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	background: url('../img/banner-header.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;

	h1 {
		font-size: 2.15rem;
		margin-bottom: 1rem;
	}

	a {
		color: white;
	}

	p {
		margin-bottom: 0;
	}

	.single & {
		margin-bottom: 2.5rem;
	}

	@include mq(ipad, 'max-width') {
    margin-bottom: 2.5rem;
	}
}

.site-description,
.site-title {
	padding: 0 1rem;
}

.custom-logo-link {
	img {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 13px;
	  width: 110px;
	  height: auto;
	  margin: 0 auto;
	  z-index: 100;
	  cursor: pointer;

	  @include mq(ipad, 'max-width') {
	  	width: 80px;
	  }

	  .admin-bar & {
			top: 45px;

			@include mq(wp-bar-switch, 'max-width') {
        top: 59px;
			}
	  }
	}
}

.menu-toggle {
	display: none;
	position: relative;
	z-index: 200;
	cursor: pointer;
	border: none;
	padding: 15px 0;
	background: transparent;

	@include hover-anim-1;	

	&:focus {
		outline: none;
	}

	span {
		display: block;
		width: 24px;
		height: 1px;
		background: $text-color-main;
		margin-bottom: 5px;
	}  

	@include mq(ipad, 'max-width') {
    display: block;
	}
}

.main-navigation {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
	padding: 35px 0 30px;
	position: relative;

	@include mq(ipad, 'max-width') {
		padding: 15px 0;
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;

		@include mq(ipad, 'max-width') {
			display: none;
		}
	}

	&.toggled {
		ul {
     display: block;
    }
	}

	li {
		list-style-type: none;
		margin: 0 1.5em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:nth-child(2) {
			margin-right: auto;
		}

		&:nth-child(3) a {
      border: solid 1px $primary-color;
      padding: 10px 17px 9px;

      @include mq(ipad, 'max-width') {
      	border: none;
      	padding: 0;
      }
    }

    @include mq(desktop, 'max-width') {
      margin: 0 1em;
    }

    @include mq(ipad, 'max-width') {
    	margin: .65em 0;

    	&:last-child {
    		display: none;
    	}
    }
	}

	a {
		font-family: $sans-serif-main;
		text-transform: uppercase;
		color: $text-color-light;
		font-weight: 300;
		font-size: 12px;
		letter-spacing: 1px;

		@include hover-anim-1;
	}
}

.mobile-cart-link {
	display: none;
	position: absolute;
	right: 0;
	top: 23px;

	a {
		font-family: $sans-serif-main;
		text-transform: uppercase;
		color: $text-color-light;
		font-weight: 300;
		font-size: 12px;
		letter-spacing: 1px;

		@include hover-anim-1;
	}

  @include mq(ipad, 'max-width') {
    display: block
  }
}
