.idea-block {
	padding: 1.75rem 1.25rem;
	margin-top: 1rem;
	text-align: center;
	display: flex;
  flex-direction: column;
  justify-content: center;
  background: $secondary-color;
  color: white;
  font-size: 1rem;
  font-weight: 300;

	h3 {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	p {
		width: 80%;
		margin: 0 auto 1rem;
	}

	button {
		background: white;
		border: none;
		border-radius: 0;
		color: $secondary-color;
		padding: .75em 1.5em; 
		display: inline-block;
		margin: 0 auto;
		font-weight: 700;
		cursor: pointer;
		transition: all .15s ease;

		&:hover {
			opacity: .9;
		}
	}
}