.site-content,
.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
}

.sidebar {
	@media screen and ( min-height: 840px ) {
	  position: sticky;
	  top: 1rem;
	}

	@include mq(ipad, 'max-width') {
		position: relative;
		top: 0;
	}
}