.site-content,
.container {
	width: $container-width;
	max-width: $container-max-width;
	margin: 0 auto;
}

// .site-content {
// 	@media screen and (min-height: 1160px) {
// 	  display: flex;
// 	}
// }

.sidebar {
	position: -webkit-sticky;
	position: sticky;
	display: block;
	bottom: 1rem;
	right: 0;
	margin-left: auto;
	opacity: 1;
	transition: opacity .5s ease;

	&.is-not-fixed-sidebar {
		opacity: 0;
	}

	&.is-fully-hidden-sidebar {
		display: none;
	}

	@include mq(desktop, 'max-width') {
		position: relative;
		bottom: auto;
		right: auto;
		margin-left: 0;
	}

 //  position: sticky;
 //  top: calc(87px + 1rem); // height of header plus margin

 //  .admin-bar & {
 //  	top: calc(87px + 32px + 1rem); // height of header plus margin
 //  }

	// @include mq(ipad, 'max-width') {
	// 	position: relative;
	// 	top: 0;

	// 	.admin-bar & {
	//   	top: 0;
	//   }
	// }
}