// Default Font Stacks
$sans-serif-main: 'NeuzeitBook', Helvetica, Arial, sans-serif;
$sans-serif-alt: 'BebasNeue', Georgia, sans-serif;

// Alt Font Stacks
$sans-serif-heavy: 'NeuzeitBookHeavy', Helvetica, Arial, sans-serif;

// Colors
$primary-color: #67837e;
$secondary-color: #db886c;
$tertiary-color: white;
$quaternary-color: white;

$text-color-main: #000000;
$text-color-light: #a6aaac;

// Layout
$container-width: 90%;
$container-max-width: 1280px;
$section-padding: 40px;

// Keyframes
@keyframes fade-in-1 {   
  0% {     
    opacity: 0;   
  }    
  100% {
    opacity: 1;
  }
}