@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue.woff2") format("woff2"), url("../fonts/BebasNeue.woff") format("woff"); }
@font-face {
  font-family: NeuzeitBook;
  src: url("../fonts/NeuzeitS-Book.woff2") format("woff2"), url("../fonts/NeuzeitS-Book.woff") format("woff"); }
@font-face {
  font-family: NeuzeitBookHeavy;
  src: url("../fonts/NeuzeitS-BookHeavy.woff2") format("woff2"), url("../fonts/NeuzeitS-BookHeavy.woff") format("woff"); }
@keyframes fade-in-1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.no-padding {
  padding: 0; }

.no-top-padding {
  padding-top: 0; }

.no-bottom-padding {
  padding-bottom: 0; }

.no-margin {
  margin: 0; }

.no-top-margin {
  margin-top: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  background: white;
  font-family: "NeuzeitBook", Helvetica, Arial, sans-serif;
  line-height: 1.375; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none !important;
  border-radius: 0 !important; }

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

#bitnami-banner {
  display: none !important; }

b,
strong {
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
  font-weight: 700; }

i,
em {
  font-style: italic; }

p {
  line-height: 1.375;
  margin-bottom: 1.5rem; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

h1,
h2,
h3,
h4 {
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2.5rem;
  line-height: 1.1; }

h2 {
  font-size: 2rem;
  line-height: 1.2; }

@media screen and (max-width: 639px) {
  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1.6rem; } }
.drip-form--sidebar {
  padding: 1.75rem 1.25rem;
  text-align: center;
  background: #efefef;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .drip-form--sidebar h3 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .drip-form--sidebar label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .drip-form--sidebar input[type='email'] {
    border: 2px solid black;
    border-right: none;
    padding: 0 10px 0 15px;
    height: 34px;
    background: transparent;
    font-size: 13px;
    max-width: 140px; }
    .drip-form--sidebar input[type='email']::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: black; }
    .drip-form--sidebar input[type='email']::-moz-placeholder {
      /* Firefox 19+ */
      color: black; }
    .drip-form--sidebar input[type='email']:-ms-input-placeholder {
      /* IE 10+ */
      color: black; }
    .drip-form--sidebar input[type='email']:-moz-placeholder {
      /* Firefox 18- */
      color: black; }
  .drip-form--sidebar input[type='submit'] {
    border: none;
    background: black;
    height: 34px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    width: 100px;
    transition: all .15s ease; }
    .drip-form--sidebar input[type='submit']:hover, .drip-form--sidebar input[type='submit']:focus {
      opacity: .6; }
  .drip-form--sidebar .input-wrap {
    margin-top: 1.125rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }

.idea-form label,
.idea-form p,
.idea-form button, .idea-form__intro-text {
  font-family: "NeuzeitBook", Helvetica, Arial, sans-serif !important;
  color: black !important; }
.idea-form__intro-text {
  font-size: 18px;
  margin-bottom: 2.25rem;
  color: black !important; }
.idea-form label {
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif !important;
  color: black !important; }
.idea-form__intro-block {
  text-align: center;
  max-width: 460px;
  width: 100%;
  margin: 0 auto; }
.idea-form__heading {
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif !important;
  color: black !important;
  margin-bottom: 1.5rem !important; }
.idea-form input[type="text"],
.idea-form input[type="email"],
.idea-form textarea {
  min-height: 44px;
  border: 1px solid black !important;
  border-radius: 0 !important;
  font-family: "NeuzeitBook", Helvetica, Arial, sans-serif !important; }
.idea-form .frm_submit {
  text-align: center; }
.idea-form button.frm_button_submit {
  background: #db886c !important;
  border-radius: 0 !important;
  color: white !important;
  border: none !important;
  padding: .95em 3.25em .8em !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif !important;
  transition: all ease .15s; }
  .idea-form button.frm_button_submit:hover {
    opacity: .9; }

.mobile-form-wrap {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile-form-wrap {
      display: block;
      margin-bottom: 4em; } }

.site-content,
.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto; }

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  bottom: 1rem;
  right: 0;
  margin-left: auto;
  opacity: 1;
  transition: opacity .5s ease; }
  .sidebar.is-not-fixed-sidebar {
    opacity: 0; }
    @media screen and (min-height: 1081px) {
      .sidebar.is-not-fixed-sidebar {
        display: none !important; } }
  .sidebar.is-fully-hidden-sidebar {
    display: none; }
  @media screen and (max-width: 1023px) {
    .sidebar {
      position: relative;
      bottom: auto;
      right: auto;
      margin-left: 0; } }

.site-branding {
  position: relative;
  padding: 2.35rem 0;
  width: 90%;
  max-width: 1120px;
  margin: 87px auto 0;
  background: url("../img/banner-header.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem; }
  @media screen and (max-width: 767px) {
    .site-branding {
      margin: 72px auto 2.5rem; } }
  @media screen and (max-width: 782px) {
    .logged-in .site-branding {
      margin: 27px auto 2.5rem; } }
  .site-branding h1 {
    font-size: 2.15rem;
    margin-bottom: 1rem; }
  .site-branding a {
    color: white; }
  .site-branding p {
    margin-bottom: 0; }
  .single .site-branding {
    margin-bottom: 2.5rem; }
  @media screen and (max-width: 767px) {
    .site-branding {
      margin-bottom: 2.5rem; } }

.site-description,
.site-title {
  padding: 0 1rem; }

.custom-logo-link img {
  position: fixed;
  left: 0;
  right: 0;
  top: 15px;
  width: 110px;
  height: auto;
  margin: 0 auto;
  z-index: 3000;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .custom-logo-link img {
      width: 80px; } }
  .admin-bar .custom-logo-link img {
    top: 45px; }
    @media screen and (max-width: 782px) {
      .admin-bar .custom-logo-link img {
        top: 15px; } }

.menu-toggle {
  display: none;
  position: relative;
  z-index: 200;
  cursor: pointer;
  border: none;
  padding: 15px 0;
  background: transparent;
  padding-left: 5%;
  transition: all .15s ease; }
  .menu-toggle:hover, .menu-toggle:focus {
    opacity: .6; }
  .menu-toggle:focus {
    outline: none; }
  .menu-toggle span {
    display: block;
    width: 24px;
    height: 1px;
    background: #000000;
    margin-bottom: 5px; }
  @media screen and (max-width: 767px) {
    .menu-toggle {
      display: block; } }

.main-navigation {
  margin: 0 auto;
  padding: 35px 0 30px;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  z-index: 2000;
  height: 87px; }
  .logged-in .main-navigation {
    top: 32px; }
  @media screen and (max-width: 767px) {
    .main-navigation {
      padding: 15px 0; } }
  @media screen and (max-width: 782px) {
    .main-navigation {
      height: 72px; }
      .admin-bar .main-navigation {
        top: 0; } }
  .main-navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .main-navigation ul {
        display: none; } }
  .main-navigation.toggled ul {
    display: block; }
  .main-navigation li {
    list-style-type: none;
    margin: 0 1.5em; }
    .main-navigation li:first-child {
      margin-left: 0; }
    .main-navigation li:last-child {
      margin-right: 0; }
    .main-navigation li:nth-child(2) {
      margin-right: auto; }
    .main-navigation li:nth-child(3) a {
      border: solid 1px #db886c;
      padding: 10px 17px 9px;
      color: black; }
      @media screen and (max-width: 767px) {
        .main-navigation li:nth-child(3) a {
          border: none;
          padding: 0; } }
    @media screen and (max-width: 1023px) {
      .main-navigation li {
        margin: 0 1em; } }
    @media screen and (max-width: 767px) {
      .main-navigation li {
        margin: .65em 0; }
        .main-navigation li:last-child {
          display: none; } }
  .main-navigation a {
    font-family: "NeuzeitBook", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #999999;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    letter-spacing: 1.5px;
    transition: all .15s ease; }
    .main-navigation a:hover, .main-navigation a:focus {
      opacity: .6; }

.menu-header-navigation-container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 500;
  padding-bottom: 1rem; }

.mobile-cart-link {
  display: none;
  position: absolute;
  right: 5%;
  top: 23px; }
  .mobile-cart-link a {
    font-family: "NeuzeitBook", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #aaaaaa;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all .15s ease; }
    .mobile-cart-link a:hover, .mobile-cart-link a:focus {
      opacity: .6; }
  @media screen and (max-width: 767px) {
    .mobile-cart-link {
      display: block; } }

@media screen and (max-width: 782px) {
  #wpadminbar {
    display: none; } }

.site-footer {
  margin-top: 1rem;
  padding: 3rem 0 2rem;
  background: black;
  color: white;
  font-size: .875rem; }
  .blog .site-footer {
    margin-top: 4rem; }
  .site-footer ul {
    padding: 0;
    margin: 0; }
  .site-footer a {
    color: white; }
  .site-footer .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 859px) {
      .site-footer .container {
        flex-direction: column; } }
  .site-footer__subscribe-block {
    padding-bottom: 1.5rem; }
    .site-footer__subscribe-block h3 {
      margin-bottom: 1.25rem; }
    .site-footer__subscribe-block .input-wrap {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1.5rem; }
    .site-footer__subscribe-block input[type='email'] {
      border: 2px solid white;
      border-right: none;
      padding: 0 10px 0 15px;
      height: 34px;
      background: transparent;
      font-size: 12px;
      width: 250px;
      max-width: 50%;
      color: white; }
      .site-footer__subscribe-block input[type='email']::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white; }
      .site-footer__subscribe-block input[type='email']::-moz-placeholder {
        /* Firefox 19+ */
        color: white; }
      .site-footer__subscribe-block input[type='email']:-ms-input-placeholder {
        /* IE 10+ */
        color: white; }
      .site-footer__subscribe-block input[type='email']:-moz-placeholder {
        /* Firefox 18- */
        color: white; }
    .site-footer__subscribe-block input[type='submit'] {
      border: none;
      background: white;
      height: 34px;
      font-size: 12px;
      color: black;
      cursor: pointer;
      font-weight: 700;
      width: 100px;
      transition: all .15s ease; }
      .site-footer__subscribe-block input[type='submit']:hover {
        opacity: .9; }
    @media screen and (max-width: 859px) {
      .site-footer__subscribe-block .input-wrap {
        justify-content: center; } }
  .site-footer__subscribe-disclaimer {
    font-size: 11px;
    line-height: 17px;
    max-width: 220px; }
    @media screen and (max-width: 859px) {
      .site-footer__subscribe-disclaimer {
        max-width: none; } }
  .site-footer__nav-menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 3rem; }
    .site-footer__nav-menu li:last-child {
      margin-right: 0; }
  .site-footer__nav-menu a {
    font-size: .8rem;
    color: #aaaaaa; }
  @media screen and (max-width: 1023px) {
    .site-footer__nav-menu li {
      margin-right: 2rem; } }
  @media screen and (max-width: 859px) {
    .site-footer__nav-menu li {
      margin-right: 1.5rem; } }
  @media screen and (max-width: 639px) {
    .site-footer__nav-menu li {
      margin-right: 1.15rem; }
    .site-footer__nav-menu a {
      font-size: .75rem; } }
  @media screen and (max-width: 859px) {
    .site-footer__left-block {
      text-align: center; } }
  .site-footer__right-block {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (max-width: 859px) {
      .site-footer__right-block {
        margin-top: 1.25rem;
        justify-content: center;
        text-align: center;
        align-items: normal; } }
  .site-footer__social-nav {
    margin-top: 45px; }
    @media screen and (max-width: 859px) {
      .site-footer__social-nav {
        margin-top: 0;
        margin-bottom: 10px; } }
    .site-footer__social-nav ul {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem; }
      @media screen and (max-width: 859px) {
        .site-footer__social-nav ul {
          margin-bottom: 1rem;
          text-align: center;
          justify-content: center; } }
    .site-footer__social-nav li {
      display: inline-block;
      list-style-type: none;
      margin-left: 1rem; }
      .site-footer__social-nav li:first-child {
        margin-left: 0; }
    .site-footer__social-nav a {
      color: white;
      text-decoration: underline;
      transition: all .15s ease; }
      .site-footer__social-nav a span {
        position: relative;
        display: inline-block;
        font-size: .9rem;
        margin-left: 10px;
        top: -4px;
        text-decoration: underline; }
      .site-footer__social-nav a i {
        font-size: 1.7rem;
        text-decoration: none; }
      .site-footer__social-nav a:hover, .site-footer__social-nav a:focus {
        opacity: .6; }
  .site-footer__copyright {
    font-size: .8rem;
    color: #aaaaaa; }

.comments__title {
  padding-top: 2rem;
  border-top: 1px solid black;
  font-family: "BebasNeue", Georgia, sans-serif;
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 400; }
.comments__list {
  margin: 0;
  padding: 0; }
  .comments__list img.avatar {
    float: left;
    border-radius: 50%;
    height: 72px;
    width: 72px;
    margin-right: 1.5rem;
    position: absolute;
    left: 0; }
    @media screen and (max-width: 639px) {
      .comments__list img.avatar {
        height: 50px;
        width: 50px;
        margin-right: 1rem; } }
  .comments__list a {
    color: #000000;
    text-decoration: underline; }
  .comments__list ul.children {
    padding-top: 2rem; }
    .comments__list ul.children li:last-child {
      padding-bottom: 0; }
  .comments__list li {
    list-style-type: none;
    border-bottom: 1px solid black;
    padding: 2rem 0;
    position: relative; }
    .comments__list li:first-child {
      padding: 1rem 0 2rem; }
    .comments__list li:last-child {
      border-bottom: none; }
  .comments__list .says {
    display: none; }

.comment-content,
.comment-metadata,
.comment-author .fn,
.comments .reply {
  /* Accounts for absolute positioned image */
  margin-left: 6rem; }
  @media screen and (max-width: 639px) {
    .comment-content,
    .comment-metadata,
    .comment-author .fn,
    .comments .reply {
      margin-left: 4.25rem; } }

.comment-content {
  padding-top: 1rem; }

.comment-metadata {
  font-size: .875rem;
  color: #aaaaaa; }
  .comment-metadata a {
    color: #aaaaaa;
    text-decoration: none;
    cursor: none;
    pointer-events: none; }

.comment-respond {
  padding-top: 2rem; }

.comment-reply-title {
  font-family: "BebasNeue", Georgia, sans-serif;
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem; }

.comment-form-url {
  display: none; }

.comment-form {
  margin-bottom: 4.5rem; }
  .comment-form label {
    display: block;
    width: 100%;
    font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
    margin-bottom: .25rem; }
  .comment-form input:not([type="submit"]),
  .comment-form textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: none; }
  .comment-form input:not([type="submit"]),
  .comment-form input:not([type="radio"]),
  .comment-form input:not([type="checkbox"]) {
    height: 40px;
    font-size: 1rem;
    padding: .75rem; }
  .comment-form textarea {
    font-size: 1rem;
    padding: .75rem; }
  .comment-form input[type="submit"] {
    background: #db886c;
    border: none;
    border-radius: 0;
    color: white;
    padding: .85em 1.75em .65em;
    display: inline-block;
    margin: .45rem auto 0;
    font-weight: 700;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
    transition: all .15s ease; }
    .comment-form input[type="submit"]:hover {
      opacity: .9; }

.idea-block {
  padding: 1.75rem 1.25rem;
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #db886c;
  color: white;
  font-size: 1rem;
  font-weight: 300; }
  .idea-block h3 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .idea-block p {
    width: 80%;
    margin: 0 auto 1rem; }
  .idea-block button {
    background: white;
    border: none;
    border-radius: 0;
    color: #db886c;
    padding: .75em 1.5em;
    display: inline-block;
    margin: 0 auto;
    font-weight: 700;
    cursor: pointer;
    transition: all .15s ease; }
    .idea-block button:hover {
      opacity: .9; }

.featured-block {
  text-align: center;
  background: #efefef;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem; }
  .featured-block__heading {
    padding: .75rem 1.25rem; }
  .featured-block__secondary-heading a {
    text-decoration: none !important; }
  .featured-block h2 {
    text-transform: uppercase;
    font-family: "BebasNeue", Georgia, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0; }
  .featured-block__image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center center; }
  .featured-block__content {
    padding: 1.75rem 1.25rem; }
  .featured-block h3 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .featured-block p {
    width: 80%;
    margin: 0 auto 1rem; }
  .featured-block a {
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
    transition: all .15s ease; }
    .featured-block a:hover, .featured-block a:focus {
      opacity: .6; }

.lead-magnet-block {
  text-align: center;
  background-color: #db886c;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
  display: flex;
  height: 260px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  margin-top: 4rem; }
  @media screen and (max-width: 1023px) {
    .lead-magnet-block {
      height: auto; } }
  .lead-magnet-block__headline {
    margin-bottom: 1rem; }
  .lead-magnet-block__blurb {
    max-width: 400px;
    margin-bottom: 2rem; }
  .lead-magnet-block__button {
    background: white;
    border: none;
    border-radius: 0;
    color: #db886c;
    padding: .75em 2em .65em;
    display: inline-block;
    margin: 0 auto;
    font-weight: 700;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
    transition: all .15s ease; }
    .lead-magnet-block__button:hover {
      opacity: .9; }
  .lead-magnet-block--has-background-img .lead-magnet-block__button {
    color: #000000; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 8000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }
  .modal.is-open {
    display: block; }
  .modal__trigger {
    font-weight: 700;
    cursor: pointer;
    background: red;
    color: white;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none; }
  .modal__close {
    font-family: "NeuzeitBook", Helvetica, Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 35px;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 50px;
    color: black;
    transition: all ease .15s; }
    .modal__close:hover {
      opacity: .7; }
    @media screen and (max-width: 639px) {
      .modal__close {
        top: 5px;
        right: 15px;
        font-size: 40px; } }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    max-width: 80vw;
    z-index: 9000;
    background: white;
    height: auto;
    margin: 0 auto;
    padding: 3em 4em;
    max-height: calc(100vh - 100px);
    overflow: auto; }
    @media screen and (max-width: 639px) {
      .modal__content {
        padding: 2em 1.5em;
        max-width: 95vw; } }
  .modal__interior {
    display: none; }
    .modal__interior.is-open {
      display: block; }

.related-posts {
  margin: 4.5rem 0; }
  .related-posts__heading {
    text-align: center;
    margin-bottom: 3.5rem; }
  .related-posts__post-loop {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 479px) {
      .related-posts__post-loop {
        flex-direction: column; } }
  .related-posts__read-more {
    text-decoration: underline;
    transition: all .15s ease; }
    .related-posts__read-more:hover, .related-posts__read-more:focus {
      opacity: .6; }
  .related-posts__post {
    width: 30%;
    text-align: center;
    color: #000000;
    margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .related-posts__post {
        width: 47%; }
        .related-posts__post:last-child {
          display: none; } }
    @media screen and (max-width: 479px) {
      .related-posts__post {
        width: 100%;
        margin-bottom: 3.5rem; } }
    .related-posts__post a {
      color: #000000;
      transition: all .15s ease; }
      .related-posts__post a:hover, .related-posts__post a:focus {
        opacity: .6; }
    .related-posts__post h3 {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .related-posts__post p {
      line-height: 1.4 !important; }
    .related-posts__post .post-thumbnail {
      margin-bottom: 2rem; }
      .related-posts__post .post-thumbnail img {
        margin: 0 auto;
        height: 255px;
        width: 255px;
        max-width: 100%;
        object-fit: cover; }

@media screen and (max-width: 1023px) {
  .blog .site-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }
.blog .site-content #primary {
  width: 67%; }
  @media screen and (max-width: 1023px) {
    .blog .site-content #primary {
      width: 100%; } }
.blog .site-content #secondary {
  width: 28%; }
  @media screen and (max-width: 1023px) {
    .blog .site-content #secondary {
      width: 100%;
      margin-top: 4rem; } }
.blog .entry-content {
  display: flex;
  flex-direction: column;
  justify-content: center; }
.blog .entry-image img {
  width: 380px;
  height: 380px;
  max-width: 100%;
  object-fit: cover; }
.blog .entry-title {
  margin-bottom: .4rem; }
  .blog .entry-title a {
    color: #000000;
    text-decoration: none;
    font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
    font-weight: 700;
    transition: all .15s ease; }
    .blog .entry-title a:hover, .blog .entry-title a:focus {
      opacity: .6; }
.blog .entry-meta {
  color: #aaaaaa;
  font-size: .85rem;
  margin-bottom: .75rem;
  margin-top: .75rem; }
  .blog .entry-meta a {
    color: #aaaaaa; }
  .blog .entry-meta__author {
    color: #000000;
    margin-bottom: .1rem; }
  .blog .entry-meta__date {
    color: #aaaaaa; }
.blog .entry-excerpt {
  line-height: 1.5;
  margin-bottom: 1em; }
.blog .entry-more-link a {
  color: #000000;
  text-decoration: underline;
  transition: all .15s ease; }
  .blog .entry-more-link a:hover, .blog .entry-more-link a:focus {
    opacity: .6; }
.blog .post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }
  .blog .post .entry-image {
    width: 48%; }
    @media screen and (max-width: 1023px) {
      .blog .post .entry-image {
        margin-right: 2rem; } }
    .blog .post .entry-image--mobile {
      display: none; }
  .blog .post .entry-content {
    width: 48%; }
  @media screen and (max-width: 1023px) {
    .blog .post {
      justify-content: flex-start; } }
  @media screen and (max-width: 767px) {
    .blog .post {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem; }
      .blog .post .entry-image {
        width: 100%;
        display: none; }
        .blog .post .entry-image--mobile {
          display: block; }
        .blog .post .entry-image img {
          width: 200px;
          height: 200px;
          margin: 20px auto 30px; }
      .blog .post .entry-content {
        width: 100%; } }
.blog .posts-navigation {
  max-width: 1120px;
  width: 90%;
  margin: 1rem auto 0;
  position: absolute;
  text-align: right;
  display: flex;
  justify-content: flex-end; }
  .blog .posts-navigation a {
    color: #aaaaaa;
    transiton: all .15s ease; }
    .blog .posts-navigation a:hover {
      opacity: .8; }
  .blog .posts-navigation .nav-links {
    display: flex; }
  .blog .posts-navigation .nav-next,
  .blog .posts-navigation .nav-previous {
    display: flex; }
  .blog .posts-navigation .nav-previous {
    order: 2;
    margin-left: .5rem; }
    .blog .posts-navigation .nav-previous:after {
      content: '\2192';
      position: relative;
      color: #aaaaaa;
      margin-left: 5px; }
  .blog .posts-navigation .nav-next {
    order: 1; }
    .blog .posts-navigation .nav-next:before {
      content: '\2190';
      position: relative;
      color: #aaaaaa;
      margin-right: 5px; }
    .blog .posts-navigation .nav-next:after {
      content: '|';
      position: relative;
      color: #aaaaaa;
      margin-left: .5rem; }

.a2a_kit {
  display: none; }

.single .site-branding {
  display: none; }
.single .site-content {
  margin-top: calc(2rem + 87px);
  max-width: 840px; }
  @media screen and (max-width: 767px) {
    .single .site-content {
      margin-top: calc(1.5rem + 72px); } }
.single .a2a_kit {
  display: block;
  top: calc(2rem + 87px) !important;
  left: calc((100vw - 1020px)/2) !important; }
  .single .a2a_kit .sharebar-text {
    cursor: pointer;
    pointer-events: all;
    display: block;
    position: absolute;
    left: 14px;
    top: 17px;
    font-size: 15px;
    z-index: 9000;
    font-family: "NeuzeitBook", Helvetica, Arial, sans-serif; }
  .single .a2a_kit .sharebar-close {
    cursor: pointer;
    pointer-events: all;
    padding: 8px;
    display: block;
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 29px;
    z-index: 9000;
    font-family: "NeuzeitBook", Helvetica, Arial, sans-serif;
    opacity: .8; }
  @media screen and (max-width: 1023px) {
    .single .a2a_kit {
      height: 60px !important;
      left: 0 !important;
      right: 0 !important;
      top: auto !important;
      position: fixed !important;
      bottom: 0 !important;
      background: white !important;
      width: 100% !important;
      text-align: center !important;
      transform: none !important;
      border-radius: 0 !important; } }
  .single .a2a_kit.is-closed {
    display: none !important; }
.single .a2a_vertical_style a {
  padding: 4px 4px 8px; }
  .single .a2a_vertical_style a:first-child {
    padding-top: 0 !important; }
@media screen and (max-width: 1023px) {
  .single .a2a_default_style a {
    display: inline-block !important;
    float: none !important;
    margin-top: 12px !important; } }
.single .a2a_floating_style {
  padding-top: 0 !important; }
.single .a2a_svg {
  height: 28px !important;
  width: 28px !important;
  background: transparent !important; }
  .single .a2a_svg svg,
  .single .a2a_svg path {
    fill: #b4c5cf !important;
    opacity: .9 !important; }
    @media screen and (max-width: 1023px) {
      .single .a2a_svg svg,
      .single .a2a_svg path {
        fill: black !important;
        opacity: 1 !important; } }
.single.logged-in .a2a_kit {
  top: calc(2rem + 87px + 32px) !important; }
  @media screen and (max-width: 1023px) {
    .single.logged-in .a2a_kit {
      height: 60px !important;
      left: 0 !important;
      right: 0 !important;
      top: auto !important;
      position: fixed !important;
      bottom: 0 !important;
      background: white !important;
      width: 100% !important;
      text-align: center !important;
      transform: none !important;
      border-radius: 0 !important; } }
.single.logged-in.is-closed {
  display: none !important; }
@media screen and (max-width: 782px) {
  .single.logged-in .site-content {
    margin-top: 3rem; } }
.single .entry-main-content img {
  height: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }
.single .entry-main-content figure {
  margin: 0 0 2.5rem;
  max-width: 100%; }
  .single .entry-main-content figure img {
    margin-bottom: 1rem; }
.single .entry-main-content ol,
.single .entry-main-content ul {
  margin-top: 0;
  margin-bottom: 1.5rem; }
.single h1.entry-title {
  margin-bottom: 1rem; }
.single p {
  line-height: 1.6; }
.single blockquote {
  float: left;
  width: 50%;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 0 1.25rem;
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: "NeuzeitBookHeavy", Helvetica, Arial, sans-serif;
  margin-bottom: 0; }
  @media screen and (max-width: 859px) {
    .single blockquote {
      font-size: 1.85rem;
      padding-right: 60px; } }
  @media screen and (max-width: 767px) {
    .single blockquote {
      font-size: 1.75rem;
      padding-right: 40px;
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 639px) {
    .single blockquote {
      width: 100%;
      padding-right: 0;
      padding-top: 35px;
      padding-bottom: 35px; } }
  .single blockquote p {
    padding: 0;
    line-height: 1.2;
    margin-bottom: 0; }
.single .entry-meta {
  color: #aaaaaa;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .single .entry-meta__author-image {
    margin-right: 1.5rem; }
    .single .entry-meta__author-image img {
      border-radius: 50%;
      height: 72px;
      width: 72px; }
  .single .entry-meta__post-info {
    font-size: .9rem; }
  .single .entry-meta__author-name {
    margin-bottom: .25rem;
    color: #000000; }
  .single .entry-meta__post-date {
    color: #aaaaaa; }
.single .entry-intro p {
  padding-bottom: 1rem; }
.single .entry-image img {
  width: 100%;
  height: 425px;
  object-fit: cover; }
@media screen and (max-width: 639px) {
  .single blockquote {
    font-size: 1.75rem; } }

/*# sourceMappingURL=style.css.map */
